 {% extends "gestibank/client/index.html" %}
{%block clientaction%}
<h1><center>Depuis Quel compte voulez vous effectuer un virement </center></h1>
    <table class="table table-hover table-bordered" id="general">
            <thead class="thead-light">
            <tr>
                {%for col in keys%}
                    {%if col=='rib' or col=='solde' or col=='type_compte'%}
                        <th scope="col" class="celule">{{col}}</th>
                    {%endif%}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for compte in cl %}
                <tr>
                    {%for key,value in compte.items()%}
                        {%if key=='rib' or key=='solde' or key=='type_compte'%}
                            <td>{{value}}</td>
                        {%endif%}
                    {% endfor %}
                    <td><button class="btn btn-outline-warning" onclick="window.location.href='{{url_for('gestibank.virement', id_compte=compte['id_compte'])}}';">Voir</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


