{% extends "gestibank/agent/index.html" %}

{%block agentaction%}
<link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='style/style.css')}}" >
            <h1>retour de la liste des demande affecté à l'agent </h1>

            <div id="general">
                <tr class="tableau">
                    <tr><div class="titre">
                        {% for key in list_param %}
                            <td class="celule">{{key}}</td>
                        {% endfor %}
            </div>
                </tr>
                {% for dict_item in list_dict %}
                    <div  id="ligne">
                        {% for value in dict_item.values() %}

                        <td class="celule"> {{value}}</td>
                        {% endfor%}</div>
                {% endfor%}
            </div>
        <img class="fit-picture"
     src="{{url_for( 'static', filename=path)}}"
     alt="Grapefruit slice atop a pile of other slices">



{% endblock %}