{% extends "gestibank/agent/index.html" %}

        <center>
    <table>
    <thead>
    {%for col in list_param%}

   <div id="lig"> <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{col}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th></div>

    {% endfor %}
   </thead>

    <tbody>

    {%for trans in transaction %}


    <tr>


        {%for value in trans.values() %}

<td>
    <center>
                     {{value}}</center>

</td>
            {% endfor %}

    </tr>
             {% endfor %}
    </tbody>

     </table></center>
   <img class="fit-picture"
     src="{{url_for( 'static', filename=path)}}"
     alt="Grapefruit slice atop a pile of other slices">
{% endblock %}