{% extends "gestibank/client/index.html" %}
    {%block transationaction%}
<body class="text-center">
    <table class="table table-hover table-bordered" id="general">
        <thead class="thead-light">
            <tr>
                {%for col in list_param%}
                   <th scope="col" class="celule">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for trans in transaction %}
                <tr>
                    {%for value in trans.values() %}
                         <td>{{value}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <tr>
            <td><img src="{{url_for( 'static', filename=path)}}"></td>
        </tr>

</body>
{% endblock %}