{% extends "menu.html" %}
{% block mybody %}
{% if param==1 %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey;">
        <form class="form-inline my-2 my-lg-0 " action='{{url_for("gestibank.historique")}}'>
            <button  class="btn btn-light" >{{_('liste des compte')}}</button>
        </form>
        <form class="form-inline my-2 my-lg-0 " style="padding-left: 25px;" action='{{url_for("gestibank.inscription")}}'>
            <button  class="btn btn-light" >{{_('????')}}</button>
        </form>
    </nav>{%endif%}

            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.inscription")}}'>{{_('????')}}</a></div>
        {%endif%} {% if param==2 %}
            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("main.index")}}'>{{_('historique des virements')}}</a></div>
          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("main.index")}}'>{{_('Effectuer un virement')}}</a></div>
        {%endif%} {% if param==3 %}
            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("main.index")}}'>{{_('demande de chequier')}}</a></div>
          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("main.index")}}'>{{_('imprimer des transaction')}}</a></div>
         {%endif%}
    </div>
    {%block clientaction%}{% endblock %}
{% endblock %}