{% extends "menu.html" %}
{% block mybody %}
{% if param==1 %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey;">
        <form class="form-inline my-2 my-lg-0 " action='{{url_for("gestibank.historique")}}'>
            <button  class="btn btn-light" >{{_('liste des compte')}}</button>
        </form>
        <form class="form-inline my-2 my-lg-0 " style="padding-left: 25px;" action='{{url_for("gestibank.inscription")}}'>
            <button  class="btn btn-light" >{{_('????')}}</button>
        </form>
    </nav>{%endif%}
{% if param==2 %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey;">
        <form class="form-inline my-2 my-lg-0 " action='{{url_for("main.index")}}'>
            <button  class="btn btn-light" >{{_('liste des compte')}}</button>
        </form>
        <form class="form-inline my-2 my-lg-0 " style="padding-left: 25px;" action='{{url_for("gestibank.inscription")}}'>
            <button  class="btn btn-light" >{{_('????')}}</button>
        </form>
    </nav>{%endif%}
{% if param==3 %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey;">
        <form class="form-inline my-2 my-lg-0 " action='{{url_for("main.index")}}'>
            <button  class="btn btn-light" >{{_('demande de chequier')}}</button>
        </form>
        <form class="form-inline my-2 my-lg-0 " style="padding-left: 25px;" action='{{url_for("main.index")}}'>>
            <button  class="btn btn-light" >{{_('imprimer des transaction')}}</button>
        </form>
    </nav>{%endif%}
    {%block clientaction%}{% endblock %}
{% endblock %}