{% extends "gestibank/client/index.html" %}
{%block action%}
<h1><center>Operation Virement </center></h1>
        <center>
     <form action='' method="post" >
        {{form.hidden_tag()}}
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32)}}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
          <p>
            {{form.destinataire.label}}<br>
            {{form.destinataire(size=32)}}
            {% for error in form.destinataire.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.rib.label}}<br>
            {{form.rib(size=32)}}
                  {% for error in form.rib.errors %}
                <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.montant.label}}<br>
            {{form.montant(size=32)}}
                  {% for error in form.montant.errors %}
                <span style="color: green;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{form.motif.label}}<br>
            {{form.motif(size=32)}}
            {% for error in form.motif.errors %}
                <span style="color: blue;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>{{form.submit()}}</p>

    </form></center>
{% endblock %}
