
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{_('Reset Password')}}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='style/style.css')}}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='style/bootstrap/css/bootstrap.min.css')}}" >
    <script type="text/javascript" src="{{url_for('static', filename='style/bootstrap/js/bootstrap.min.js')}}"></script>

</head><body>
<div class="text-center" style="margin-top: 50px;">
       <h1>{{_('Reset Password')}}</h1>
       {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                     <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p style="margin-top: 25px;">
             {{ form.password(size=50, placeholder=form.password.label.text)}}
            {% for error in form.password.errors %} <br>
            <span style="color: purple">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p style="margin-top: 25px;">
             {{ form.password2(size=50, placeholder=form.password2.label.text)}}
            {% for error in form.password2.errors %} <br>
            <span style="color: blue">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{form.submit(class="btn btn-lg btn-primary")}}</p>
    </form>
</div>

</body>
</html>