<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{_('Reset Password')}}</title>
</head><body>
       <h1>{{_('Reset Password')}}</h1>
       {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                     <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}

        <p>{{form.password.label}}
            <br> {{ form.password(size=50) }}<br>
             {% for error in form.password.errors %}
                <span style="color: purple">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{form.password2.label}}
            <br> {{ form.password2(size=50) }}<br>
             {% for error in form.password2.errors %}
                <span style="color: blue">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>


</body>
</html>