{% extends "menu.html" %}
{% block mybody %}
    <div id="cadre" style="static;">
        {% if param==1 %}
            <div class="ligne" style=";border-color:purple">  <a href='{{url_for("gestibank.listeclients")}}'>{{_('liste des clients')}}</a></div>
            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.demandechequier")}}'>{{_('demande de chequier')}}</a></div>
        {%endif%} {% if param==2 %}

          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.demande")}}'>{{_('Historique des demandes')}}</a></div>
          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.nvldemande")}}'>{{_('Lister nouvelles  demande')}}</a></div>
          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.demandeenattente")}}'>{{_('Lister les demande en attente')}}</a></div>
         {%endif%}
    </div>
        {%block agentaction%}{% endblock %}
{% endblock %}