{% extends "gestibank/admin/index.html" %}

   {%block adminaction%}

<body class="text-center" >
<br>
<br>
    <h1>Creation Agent</h1>
    <form action='' method="post" >
        {{form.hidden_tag()}}
        <p>
            {{form.username.label}}<br>
            {{form.username(size=32)}}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

         <p>
            {{form.nom.label}}<br>
            {{form.nom(size=32)}}
            {% for error in form.nom.errors %}
                <span style="color: blue;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{form.prenom.label}}<br>
            {{form.prenom(size=32)}}
            {% for error in form.prenom.errors %}
                <span style="color: orange;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.mail.label}}<br>
            {{form.mail(size=32)}}
            {% for error in form.mail.errors %}
                <span style="color: purple;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{form.tel.label}}<br>
            {{form.tel(size=32)}}
            {% for error in form.tel.errors %}
                <span style="color: cyan;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{form.submit(class="btn btn-lg btn-primary")}}</p>

    </form>
</body>
{% endblock %}