{% extends "menu.html" %}
{% block mybody %}
    <div id="cadre" style="static;">
        {% if param==1 %}
            <div class="ligne" style=";border-color:purple">  <a href='{{url_for("gestibank.gestion_agent", param=1)}}'>{{_('Crée un agent')}}</a></div>
            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.gestion_agent", param=1)}}'>{{_('Modifier un agent')}}</a></div>
        {%endif%} {% if param==2 %}
            <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.gestion_agent", param=2)}}'>{{_('Lister Toutes demande')}}</a></div>
          <div class="ligne" style=";border-color:blue">  <a href='{{url_for("gestibank.gestion_agent", param=2)}}'>{{_('Lister les demande non affecter')}}</a></div>
         {%endif%}
    </div>
    <H1>ceci est l'index</H1>
    {%block adminaction%}{% endblock %}
{% endblock %}