{% extends "gestibank/admin/index.html" %}

{%block adminaction%}
     <table class="table table-hover table-bordered" id="general">
        <thead class="thead-light">
           <tr>
               {% for key in list_param %}
               <th scope="col" class="celule">{{key}}</th>
               {% endfor %}
           </tr>
        </thead>
        <tbody>
             {% for dict_item in list_dict %}
                <tr>
                    {% for value in dict_item.values() %}
                        <td>{{value}}</td>
                    {% endfor %}
                    <td><button class="btn btn-outline-warning" onclick="window.location.href='{{url_for('gestibank.affect_demandcrea',optionadmin=dict_item['id_compte'])}}';">Affecter</button></td>
                </tr>
             {% endfor %}
        </tbody>
     </table>

{% endblock %}