{% extends "gestibank/admin/index.html" %}

{%block adminaction%}
<p>test</p>
     <div id="general">
        <tr id="tableau">
           <tr>  {% for dict_item in list_dict %}
                     {% for key,value in dict_item.items() %}
                        <td id="celule">{{key}}</td>
                     {% endfor %}
                     {% endfor %}
           </tr>
            <div id="ligne">  {% for dict_item in parent_dict %}
                    {% for key,value in dict_item.items() %}
                         {{value}}
                    {% endfor %}
                    {% endfor %}
            </div>
        </div>
     </div>
{% endblock %}