.ligne{
padding:10px;
float:left;
 border-style:double
}

.ligne a{
text-decoration:none;
color:black;
font-weight:bold;
 }

#connexion{
float: right;
padding:10px;
border-style:double

}

#connexion a{
text-align:rigth;
text-decoration:none;
color:black;
font-weight:bold;
border-color:red;
 }
#langue{
float: right;
padding:10px;
border-style:double

}
